




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.navbar {
    background-color: #A3CD85;
    color: white;
    display: flex;
    
    
    padding: 10px 20px;
    transition: all 0.3s ease;
    font-family: 'Times New Roman', Times, serif;
    height: 10%;
}

.navbar-container {
    width: 100%;
    
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}




.rounded-square {
/* Solid border */
  padding: 20px; /* Some padding */
  width: fit-content; /* Width of the element */
  height: fit-content; /* Height of the element */
  border-radius: 25px; /* Adjust the radius as needed */
  /* Add other styles like background-color if needed */
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: x-large;
  background-color: rgb(21, 21, 21);
  text-align: center;
  color: #ddd;

}

.logo img {
    height: 50px;

    transition: all 0.3s ease;
    align-content: flex-start;
}

.logo img:hover{
    transform: scale(1.5);
}

.site-name {
    font-size: 1.5rem;
    font-weight: bold;
    transition: all 0.3s ease;
}

.site-name:hover{
    transform: scale(1.1); /* Magnify text */
}

.navbar-links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 1rem;
    transition: all 0.3s ease;
}

.navbar-links a:hover {
    color: #ff9900;
    transform: scale(1.3);
}

@media (max-width: 768px) {
    .navbar-container {
        flex-direction: column;
    }

    .logo, .site-name {
        margin-bottom: 10px;
    }

    .navbar-links {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar-links a {
        margin: 5px 0;
    }
}


body {
    font-family: Arial, sans-serif;
    
    background-image: url('https://th.bing.com/th/id/OIG2.C.Ac6ZxoGO6mZNaZRM3o?w=1024&h=1024&rs=1&pid=ImgDetMain');

    background-repeat: no-repeat;
    background-size: cover;
}




  

.video-gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  margin-bottom: 30px; /* Updated margin to maintain space */
  padding-bottom: 10px;
}
.video-box {


  
  overflow: hidden;
  transition: transform 0.3s ease;
  height: 300px;
  width: 300px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.video-box:hover {
  transform: scale(1.05);
}
.video-title {
  background-color: darkslategray;
  padding: 10px;
  text-align: center;
  color: #ddd;

}
video {
  width: 100%;
  display: inline-block;
  margin-bottom: 10px;
  padding-bottom: 10px;
}


.footer {
    
    background-color: rgb(36, 35, 35);
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  .social-links {
    margin: 10px 0;
  }
  .social-links a {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
  }
  .social-links a:hover {
    color: #ddd;
  }
  .copyright {
    margin-top: 10px;
    font-size: 0.8em;
    color: antiquewhite;
  }



